sudo: required

services:
  - docker

before_install:
  - docker build -t operable/probe-testing -f Dockerfile.ci .

# Need the job ID in order to upload the Coveralls data
script:
  - docker run -it --rm --env="TRAVIS_JOB_ID=${TRAVIS_JOB_ID}" operable/probe-testing mix coveralls.travis

notifications:
  slack:
    secure: h/D8H39UYEz8Xm2YUu4BMYZWd1D9krQ1F21aoL1/nw8O49TM8jOpwNjjW0BEonQLPAcZlO1ejwQ9e+lukYtS+6aQ3stvhyt6W8XfXTqXYoGqjjef8/dJkDuKf5sHUZUutl0I3U2dv6Ax21AiW7rMmP4TUGefEg4bNaZU8bTyb8fOmkS4ivlkUje6Cu9t2b4srDutBp/m4gs06xZL9s54IS58kZLHXA2ov3O+KkAHlEoODepfTxqayvr7FNhfibe4JUbvT3vW6ziF5AJWe5C47F5L9JBthrCVeHYCn69FyzOZ8jtLfrg4vwK310eTix3a6niclk/u4h85Iey45O2bt6BwDaEAB5NUJ6qA1+uDXmhhdu5N98rkQBC9GNIH8cIXdPN1A1WpSra5nSZ7C5HF/yQxeweZi9uVo00ojTjN4eUUzrDmwEFOszWgzOoUuLGPCiPruclJZmHJZdDVA1QAYlE6zLT4/8ZKphm6ZqiE5O95/e25lWIOcx4qd+FgIFuKe/3sthLjYcrGrhyvmK+7MJ1n7rCODMXLLe+w7HjFXO9H4Egtb5iYxUqU6b7c3SCMgn0qlYJ9TupLpKV6AItG1k55l8zRz7SVRREZOS+1yA5N9SXY9D7Mg8z/TDxKd+eJc44rEacTB07Sn4+MwegTwMtn/sQ2TM80vpZBaaYrePQ=
